# Docker Compose
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Spring Boot
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# SpringDoc
SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true
SPRINGDOC_CACHE_DISABLED=true

# Devtools
SPRING_DEVTOOLS_RESTART_ENABLED=true
SPRING_DEVTOOLS_LIVERELOAD_ENABLED=true
